<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <description>
        First Web Application
    </description>
    <display-name>Hello World</display-name>

    <request-character-encoding>UTF-8</request-character-encoding>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>by.training.task4.runner.Runner</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TimeServlet</servlet-name>
        <servlet-class>by.training.task4.demo.TimeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimeServlet</servlet-name>
        <url-pattern>/timeaction</url-pattern>
    </servlet-mapping>

</web-app>