*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/.idea/*
*.iml
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Task2_MultiThreading/\.idea/

Task2_MultiThreading/out/

Task4_XML/\.idea/

Task_FinalProject_WebApplication/\.idea/

Task_FinalProject_WebApplication/misc/bootstrap-4\.3\.1-dist\.zip

Task_FinalProject_WebApplication/sql/2_test\.sql
